<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="https://www.psu.edu/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>LionAuction Login</title>
    <!-- Changes the button color to match the theme -->
    <style>
        .btn-primary {
            color: white;
            background-color: rgba(25,6,92,255);
        }
    </style>
</head>
<body>
<div class="container-sm">
    <!-- Heading section with logo -->
    <div class="heading" align="center">
        <img src="static/LionAuctionLogo.png" width="300" height="150.852">
        <br>
    </div>

    <!-- Lower section for logging in -->
    <div class="card-body" align="center">
        <form action="/" method="POST" id="login-form">
            <div class="default-container" align="left">
                <h4 style="color: rgba(25,6,92,255)" class="card-title"><b>Sign in to LionAuction</b></h4>
                <p style="color:red;"><i class="fa-solid fa-circle-exclamation"></i>  Login information is incorrect.</p>
            </div>
            <div class="default-container" align="left">
                <label style="color: rgba(25,6,92,255)" for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <p>
            <div class="password-container" align="left">
                <label style="color: rgba(25,6,92,255)" for="password">Password</label>
                <input type="password" id="password" name="password">
                <i class="fa-solid fa-eye" id="show-password"></i>
            </div>
            <p>
            <div class="radio-buttons" align="left">
                <input type="radio" id="bidder" name="role" value="Bidder">
                <label style="color: rgba(25,6,92,255)" for="bidder">Bidder</label>
                <input type="radio" id="seller" name="role" value="Seller">
                <label style="color: rgba(25,6,92,255)" for="seller">Seller</label>
                <input type="radio" id="helpdesk" name="role" value="HelpDesk">
                <label style="color: rgba(25,6,92,255)" for="helpdesk">HelpDesk</label>
            </div>
            <br>
            <div class="default-container" align="left">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>
</div>

<script src="static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>